* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',
        sans-serif
}

body {
    width: 100%;
}

/* <!-- Header img Start --> */
.header-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.header-section-box {
    width: 80%;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.cover-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    width: 100%;
    transition: width 3s;
}

.img:hover {
    width: 120%;


}
a.active {
    background-color: rgb(255, 0, 0);
    color: white;
}

.banner-btn {
    background-color: rgb(255, 1, 1);
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

h1 {
    width: 400px;
    font-size: 50px;
}

.cover-text {
    color: white;
}

/* <!-- Header img end --> */
/* <!-- Main Sart --> */
.main {
    width: 100%;
}

.container-1 {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.link-box {
    width:
        312px;
    height:
        312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.page-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page-link-btn {
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    color: black;
}

.Blog-post {
    width: 312px;
    height: 362px;

    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.match-shedule {
    width: 300px;
    height: 300px;

    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}


.blog-post-img {
    width: 100%;
    display: flex;
    align-items: center;
}

.flag-box {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
.blog-icon  .fa-solid {
    color: #000;
}

.blog-anchor {
    margin-top: 20px;
}
.{
    color: black;
}
.blog-btn {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    color: #161616;
    text-decoration: none;
}

.blog-content {
    margin-left: 10px;
}

.match-result-box-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blog-post-box-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.Gr-vs-Fr {
    text-align: center;
}

.vss {
    margin-bottom: 50px;
}

.match-result-box-two {
    margin-top: 30px;
}

.math-result-box {
    width: 300px;
    height: 300px;

    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.result-flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* <!-- Main end --> */
/* footer start */
footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footter-menu-box {
    display: flex;
    gap: 50px;
}

.footer-menu {

    text-decoration: none;
    color: white;
}

.footer-icon {
    color: white;
}

.footer-h1 {
    color: white;
    text-align: center;
}

hr {
    color: white;
    width: 100%;
}

.footer-icon {
    display: flex;
    gap: 20px;
    font-size: 30px;
    color: white;
}
i{
    color: white;
}

/* <!-- Fotter end--> */
@media only screen and (max-width: 688px) {
    .blog-post-box-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

    }

    .container-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .footter-menu-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .header-section-box {
        margin-top: -50px;
        margin-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .cover-text {
        padding-left: 50px;
        padding-right: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .blog-post-box-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        color: white;
    }
    .icon{
        color: white;
    }
    .footter-menu-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .header-section-box {
        margin-top: -50px;
        margin-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .cover-text {
        padding-left: 50px;
        padding-right: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
}